@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: PixelGosub;
  src: url("/assets/fonts/PixelGosub-ZaRz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.dot:nth-child(1) {
  animation: bounce 1s infinite;
}

.dot:nth-child(2) {
  animation: bounce 1s infinite .33s;
}

.dot:nth-child(3) {
  animation: bounce 1s infinite .66s;
}

::-webkit-scrollbar {
    @apply w-1.5 h-1.5 bg-gray-300;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-md;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

.inside-out-gradient {
    background: radial-gradient(circle at center, transparent, rgba(255, 255, 255, 0.3) 99%);
}

.white-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0);
}

.swiper-pagination {
    padding-top: 20px !important;
}

.swiper-pagination-bullet {
    background: gray !important;
    border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
    background: darkgray !important;
}

.swiper-slide {
    width: 140px !important;

}

.swiper-faded {
    margin: 0 -30px !important;
}

.swiper-faded::before,
.swiper-faded::after {
    z-index: 10000;
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 70%, transparent 100%);
    backdrop-filter: blur(1px);
    width: 64px;
}

.swiper-faded::after {
    transform: scaleX(-1) !important;
    right: 0 !important;
}


button[data-testid="rk-connect-button"] {
    padding: 5px 15px 20px 18px !important;
    font-family: 'PixelGosub' !important;
    font-size: larger !important;
    text-align: center !important;
}

#rk_connect_title {
    font-size: 0;
    position: relative;
}

#rk_connect_title::before {
    content: "Sign In";
    font-size: 20px;
}
